body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:620px;
  top:70px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:620px;
  top:70px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:620px;
  top:110px;
  width:750px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:961px;
  top:139px;
  width:59px;
  height:50px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:670px;
  top:130px;
  width:60px;
  height:50px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:621px;
  top:199px;
  width:747px;
  height:1204px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:1204px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:-4px;
  top:100px;
  width:750px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u12 {
  position:absolute;
  left:76px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:353px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:630px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:66px;
  top:150px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:174px;
  top:165px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:176px;
  top:200px;
  width:130px;
  height:30px;
  font-size:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:176px;
  top:230px;
  width:500px;
  height:110px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:110px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:66px;
  top:430px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:174px;
  top:445px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:176px;
  top:480px;
  width:130px;
  height:30px;
  font-size:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:176px;
  top:510px;
  width:500px;
  height:110px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:110px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:-4px;
  top:370px;
  width:750px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u35 {
  position:absolute;
  left:-4px;
  top:640px;
  width:750px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u36 {
  position:absolute;
  left:57px;
  top:96px;
  width:96px;
  height:10px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:1204px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:-4px;
  top:100px;
  width:750px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u39 {
  position:absolute;
  left:76px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:353px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:630px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:66px;
  top:150px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:174px;
  top:165px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:176px;
  top:200px;
  width:130px;
  height:30px;
  font-size:22px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:176px;
  top:230px;
  width:500px;
  height:110px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:110px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:66px;
  top:430px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u54 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:174px;
  top:445px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:176px;
  top:480px;
  width:130px;
  height:30px;
  font-size:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:176px;
  top:510px;
  width:500px;
  height:110px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:110px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:-4px;
  top:370px;
  width:750px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u62 {
  position:absolute;
  left:-4px;
  top:640px;
  width:750px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u63 {
  position:absolute;
  left:335px;
  top:96px;
  width:96px;
  height:10px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:10px;
}
#u64 {
  position:absolute;
  left:2px;
  top:-3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:1204px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:-4px;
  top:100px;
  width:750px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u66 {
  position:absolute;
  left:76px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:353px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:630px;
  top:50px;
  width:70px;
  height:50px;
  font-size:28px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:66px;
  top:150px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u73 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:174px;
  top:165px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:176px;
  top:200px;
  width:130px;
  height:30px;
  font-size:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:176px;
  top:230px;
  width:500px;
  height:110px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:110px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:66px;
  top:430px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u81 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:174px;
  top:445px;
  width:130px;
  height:50px;
  font-size:28px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:176px;
  top:480px;
  width:130px;
  height:30px;
  font-size:22px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:176px;
  top:510px;
  width:500px;
  height:110px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:110px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:-4px;
  top:370px;
  width:750px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u89 {
  position:absolute;
  left:-4px;
  top:640px;
  width:750px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u90 {
  position:absolute;
  left:614px;
  top:96px;
  width:96px;
  height:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:10px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
