body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:620px;
  top:70px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:620px;
  top:70px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:620px;
  top:1307px;
  width:750px;
  height:96px;
  color:#CDCDCD;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:96px;
}
#u5 {
  position:absolute;
  left:2px;
  top:40px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:620px;
  top:110px;
  width:750px;
  height:420px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:420px;
}
#u7 {
  position:absolute;
  left:2px;
  top:202px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:670px;
  top:270px;
  width:659px;
  height:210px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:210px;
}
#u9 {
  position:absolute;
  left:2px;
  top:97px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1269px;
  top:130px;
  width:60px;
  height:50px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:670px;
  top:210px;
  width:659px;
  height:210px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:210px;
}
#u13 {
  position:absolute;
  left:2px;
  top:97px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:709px;
  top:186px;
  width:100px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:840px;
  top:230px;
  width:350px;
  height:70px;
  font-size:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:890px;
  top:436px;
  width:350px;
  height:70px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:70px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:620px;
  top:740px;
  width:750px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u21 {
  position:absolute;
  left:620px;
  top:941px;
  width:750px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u22 {
  position:absolute;
  left:865px;
  top:560px;
  width:10px;
  height:385px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:368px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:385px;
}
#u23 {
  position:absolute;
  left:1112px;
  top:560px;
  width:10px;
  height:385px;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:368px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:385px;
}
#u24 {
  position:absolute;
  left:680px;
  top:670px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:935px;
  top:670px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1190px;
  top:670px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:637px;
  top:1010px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:941px;
  top:880px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1221px;
  top:880px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:670px;
  top:130px;
  width:60px;
  height:50px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:620px;
  top:530px;
  width:750px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1290px;
  top:1010px;
  width:60px;
  height:50px;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:686px;
  top:1325px;
  width:80px;
  height:70px;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1047px;
  top:1325px;
  width:80px;
  height:70px;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:867px;
  top:1323px;
  width:80px;
  height:70px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u47 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1228px;
  top:1325px;
  width:80px;
  height:70px;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u49 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:620px;
  top:1065px;
  width:750px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u51 {
  position:absolute;
  left:620px;
  top:945px;
  width:750px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:680px;
  top:880px;
  width:129px;
  height:50px;
  font-size:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:875px;
  top:560px;
  width:247px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:1122px;
  top:560px;
  width:247px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:620px;
  top:975px;
  width:750px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:628px;
  top:560px;
  width:247px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:628px;
  top:750px;
  width:247px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  position:absolute;
  left:670px;
  top:211px;
  width:659px;
  height:209px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
