body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1270px;
  top:144px;
  width:40px;
  height:40px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-4px;
  width:36px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:680px;
  top:147px;
  width:41px;
  height:33px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:630px;
  top:350px;
  width:750px;
  height:680px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:680px;
}
#u9 {
  position:absolute;
  left:2px;
  top:332px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
