<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.nowgo.dao.CityDao">
    <resultMap id="cityMap" type="City">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="spell" column="spell"/>
    </resultMap>

    <select id="getCity" resultMap="cityMap" parameterType="int">
        select id,name,spell FROM city
        where letter_id=#{id}
    </select>
</mapper>
