body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:119px;
  width:750px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:143px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:630px;
  top:207px;
  width:750px;
  height:1205px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1205px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:340px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:340px;
}
#u10 {
  position:absolute;
  left:2px;
  top:162px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:383px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:140px;
  top:450px;
  width:74px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:50px;
  top:520px;
  width:686px;
  height:240px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:240px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:450px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:50px;
  top:880px;
  width:640px;
  height:340px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:340px;
}
#u20 {
  position:absolute;
  left:2px;
  top:162px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:790px;
  width:750px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u22 {
  position:absolute;
  left:50px;
  top:1246px;
  width:63px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:50px;
  top:1310px;
  width:640px;
  height:340px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:340px;
}
#u25 {
  position:absolute;
  left:2px;
  top:162px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:1676px;
  width:63px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:50px;
  top:816px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:50px;
  top:1730px;
  width:640px;
  height:160px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:160px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:50px;
  top:2004px;
  width:640px;
  height:340px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:340px;
}
#u33 {
  position:absolute;
  left:2px;
  top:162px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:2370px;
  width:63px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:50px;
  top:2434px;
  width:640px;
  height:340px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:340px;
}
#u37 {
  position:absolute;
  left:2px;
  top:162px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:2800px;
  width:63px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:50px;
  top:1940px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:50px;
  top:2854px;
  width:640px;
  height:160px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:160px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:940px;
  top:146px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:630px;
  top:1313px;
  width:750px;
  height:98px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:98px;
}
#u47 {
  position:absolute;
  left:2px;
  top:41px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:700px;
  top:1324px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:940px;
  top:1324px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u51 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1190px;
  top:1324px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u53 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:630px;
  top:1057px;
  width:750px;
  height:353px;
  overflow:hidden;
  visibility:hidden;
}
#u54_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:353px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:353px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:353px;
}
#u56 {
  position:absolute;
  left:2px;
  top:168px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:30px;
  top:60px;
  width:116px;
  height:110px;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:110px;
}
#u58 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:200px;
  top:60px;
  width:116px;
  height:110px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:110px;
}
#u60 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:374px;
  top:60px;
  width:116px;
  height:110px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:110px;
}
#u62 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:550px;
  top:60px;
  width:116px;
  height:110px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:110px;
}
#u64 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:240px;
  width:750px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u66 {
  position:absolute;
  left:337px;
  top:290px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:710px;
  top:60px;
  width:116px;
  height:110px;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:110px;
}
#u69 {
  position:absolute;
  left:2px;
  top:43px;
  width:112px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:250px;
  width:750px;
  height:103px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
