body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:119px;
  width:750px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:143px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:630px;
  top:207px;
  width:750px;
  height:1205px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1205px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:391px;
  font-size:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:391px;
}
#u10 {
  position:absolute;
  left:2px;
  top:174px;
  width:746px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:419px;
  width:161px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:36px;
  top:510px;
  width:684px;
  height:430px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:430px;
}
#u14 {
  position:absolute;
  left:2px;
  top:207px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:36px;
  top:510px;
  width:684px;
  height:320px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:320px;
}
#u16 {
  position:absolute;
  left:2px;
  top:152px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:466px;
  width:223px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:74px;
  top:860px;
  width:385px;
  height:37px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:600px;
  top:320px;
  width:120px;
  height:60px;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:40px;
  top:1049px;
  width:161px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:36px;
  top:1140px;
  width:684px;
  height:430px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:430px;
}
#u26 {
  position:absolute;
  left:2px;
  top:207px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:36px;
  top:1140px;
  width:684px;
  height:320px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:320px;
}
#u28 {
  position:absolute;
  left:2px;
  top:152px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:1096px;
  width:223px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:74px;
  top:1490px;
  width:385px;
  height:37px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:40px;
  top:1680px;
  width:161px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:36px;
  top:1771px;
  width:684px;
  height:430px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:430px;
}
#u36 {
  position:absolute;
  left:2px;
  top:207px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:36px;
  top:1771px;
  width:684px;
  height:320px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:320px;
}
#u38 {
  position:absolute;
  left:2px;
  top:152px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:40px;
  top:1727px;
  width:223px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:74px;
  top:2121px;
  width:385px;
  height:37px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:1000px;
  width:750px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:1630px;
  width:750px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:960px;
  top:146px;
  width:133px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:790px;
  top:440px;
  width:420px;
  height:60px;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:416px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1270px;
  top:129px;
  width:80px;
  height:61px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:61px;
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1180px;
  top:207px;
  visibility:hidden;
}
#u53_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:233px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:233px;
}
#u55 {
  position:absolute;
  left:2px;
  top:108px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:20px;
  top:25px;
  width:40px;
  height:28px;
  font-size:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-10px;
  width:36px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:90px;
  top:29px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:95px;
  width:40px;
  height:28px;
  font-size:20px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-10px;
  width:36px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:90px;
  top:99px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:20px;
  top:173px;
  width:40px;
  height:28px;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-10px;
  width:36px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:90px;
  top:177px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:0px;
  top:65px;
  width:180px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:148px;
  width:180px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
