body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:119px;
  width:750px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:143px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:630px;
  top:207px;
  width:750px;
  height:1205px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1205px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:36px;
  top:51px;
  width:684px;
  height:340px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:340px;
}
#u10 {
  position:absolute;
  left:2px;
  top:162px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:690px;
  width:750px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u12 {
  position:absolute;
  left:90px;
  top:401px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:90px;
  top:463px;
  width:163px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:280px;
  top:463px;
  width:74px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:400px;
  top:463px;
  width:74px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:90px;
  top:560px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:560px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:180px;
  top:616px;
  width:72px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:280px;
  top:616px;
  width:74px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:440px;
  top:540px;
  width:10px;
  height:100px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:83px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:100px;
}
#u29 {
  position:absolute;
  left:491px;
  top:572px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:36px;
  top:740px;
  width:684px;
  height:340px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:340px;
}
#u32 {
  position:absolute;
  left:2px;
  top:162px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:34px;
  top:1090px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:34px;
  top:1150px;
  width:686px;
  height:240px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:240px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:36px;
  top:1430px;
  width:684px;
  height:340px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:340px;
}
#u38 {
  position:absolute;
  left:2px;
  top:162px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:34px;
  top:1780px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:34px;
  top:1840px;
  width:686px;
  height:240px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:240px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:36px;
  top:2130px;
  width:684px;
  height:340px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:340px;
}
#u44 {
  position:absolute;
  left:2px;
  top:162px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:34px;
  top:2480px;
  width:577px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:37px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:34px;
  top:2540px;
  width:686px;
  height:240px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:240px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:980px;
  top:146px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
