body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:79px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:119px;
  width:750px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:143px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:630px;
  top:310px;
  width:750px;
  height:1102px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1102px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
}
#u10 {
  position:absolute;
  left:2px;
  top:187px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:400px;
  width:750px;
  height:390px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
}
#u12 {
  position:absolute;
  left:2px;
  top:187px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:800px;
  width:750px;
  height:390px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
}
#u14 {
  position:absolute;
  left:2px;
  top:187px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:1220px;
  width:750px;
  height:390px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
}
#u16 {
  position:absolute;
  left:2px;
  top:187px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:390px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:630px;
  top:230px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:720px;
  top:230px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:720px;
  top:286px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1210px;
  top:270px;
  width:40px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:964px;
  top:146px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
