body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:620px;
  top:70px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:620px;
  top:70px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:620px;
  top:1307px;
  width:750px;
  height:96px;
  color:#CDCDCD;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:96px;
}
#u5 {
  position:absolute;
  left:2px;
  top:40px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:686px;
  top:1325px;
  width:84px;
  height:70px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:23px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1230px;
  top:1325px;
  width:80px;
  height:70px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:957px;
  top:1323px;
  width:86px;
  height:70px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:23px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:620px;
  top:110px;
  width:750px;
  height:88px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:620px;
  top:198px;
  width:750px;
  height:1109px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1109px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:23px;
  top:50px;
  width:270px;
  height:230px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:230px;
}
#u16 {
  position:absolute;
  left:2px;
  top:107px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:313px;
  top:50px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:313px;
  top:140px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:596px;
  top:230px;
  width:114px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:50px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:313px;
  top:230px;
  width:167px;
  height:50px;
  font-size:26px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:330px;
  width:750px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u26 {
  position:absolute;
  left:23px;
  top:370px;
  width:270px;
  height:230px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:230px;
}
#u27 {
  position:absolute;
  left:2px;
  top:107px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:313px;
  top:370px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:313px;
  top:460px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:596px;
  top:550px;
  width:114px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:50px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:313px;
  top:550px;
  width:167px;
  height:50px;
  font-size:26px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:650px;
  width:750px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u37 {
  position:absolute;
  left:23px;
  top:690px;
  width:270px;
  height:230px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:230px;
}
#u38 {
  position:absolute;
  left:2px;
  top:107px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:313px;
  top:690px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:313px;
  top:780px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:596px;
  top:870px;
  width:114px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:50px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:313px;
  top:870px;
  width:167px;
  height:50px;
  font-size:26px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:970px;
  width:750px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u48 {
  position:absolute;
  left:23px;
  top:1010px;
  width:270px;
  height:230px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:230px;
}
#u49 {
  position:absolute;
  left:2px;
  top:107px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:313px;
  top:1010px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:313px;
  top:1100px;
  width:77px;
  height:50px;
  font-size:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:50px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:596px;
  top:1190px;
  width:114px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:50px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:313px;
  top:1190px;
  width:167px;
  height:50px;
  font-size:26px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:50px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:1290px;
  width:750px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u59 {
  position:absolute;
  left:620px;
  top:1393px;
  visibility:hidden;
}
#u59_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:4px;
  width:750px;
  height:486px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:486px;
}
#u61 {
  position:absolute;
  left:2px;
  top:235px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u63 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:258px;
  top:30px;
  width:234px;
  height:50px;
  font-size:28px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:50px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:36px;
  top:30px;
  width:234px;
  height:50px;
  font-size:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:50px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:36px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:143px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:249px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:356px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:463px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:569px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:676px;
  top:130px;
  width:34px;
  height:50px;
  font-size:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:170px;
  width:750px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u83 {
  position:absolute;
  left:310px;
  top:200px;
  width:136px;
  height:50px;
  font-size:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:143px;
  top:270px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:249px;
  top:270px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:356px;
  top:270px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:463px;
  top:270px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:569px;
  top:270px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:676px;
  top:270px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:143px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:249px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:356px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:463px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:569px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:676px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:39px;
  top:360px;
  width:34px;
  height:50px;
  font-size:23px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:50px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:653px;
  top:126px;
  width:60px;
  height:60px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u112 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1280px;
  top:126px;
  width:60px;
  height:60px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:950px;
  top:126px;
  width:290px;
  height:60px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:723px;
  top:126px;
  width:217px;
  height:60px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:730px;
  top:130px;
  width:21px;
  height:24px;
  font-size:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:730px;
  top:158px;
  width:21px;
  height:24px;
  font-size:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:760px;
  top:130px;
  width:85px;
  height:24px;
  font-size:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:758px;
  top:160px;
  width:85px;
  height:24px;
  font-size:20px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:853px;
  top:136px;
  width:10px;
  height:42px;
}
#u127_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u127_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u127_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u128 {
  position:absolute;
  left:861px;
  top:145px;
  width:52px;
  height:24px;
  font-size:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:910px;
  top:145px;
  width:30px;
  height:30px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:620px;
  top:1000px;
  visibility:hidden;
}
#u132_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:307px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:307px;
}
#u134 {
  position:absolute;
  left:2px;
  top:146px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:290px;
  top:14px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:290px;
  top:97px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:290px;
  top:181px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:290px;
  top:264px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:650px;
  top:14px;
  width:30px;
  height:30px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u132_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u132_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:307px;
  font-size:36px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:307px;
}
#u146 {
  position:absolute;
  left:2px;
  top:132px;
  width:746px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:620px;
  top:1000px;
  visibility:hidden;
}
#u147_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u147_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:307px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:307px;
}
#u149 {
  position:absolute;
  left:2px;
  top:146px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:170px;
  top:137px;
  width:421px;
  height:33px;
  font-size:28px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:33px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
