body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:630px;
  top:80px;
  width:750px;
  height:1334px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:80px;
  width:750px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:630px;
  top:120px;
  width:750px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:660px;
  top:144px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:957px;
  top:144px;
  width:73px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:42px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:630px;
  top:1317px;
  width:750px;
  height:96px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:96px;
}
#u11 {
  position:absolute;
  left:2px;
  top:40px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:710px;
  top:1330px;
  width:200px;
  height:70px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1110px;
  top:1330px;
  width:200px;
  height:70px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:23px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:630px;
  top:208px;
  width:750px;
  height:1109px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1109px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:282px;
  font-size:48px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:282px;
}
#u18 {
  position:absolute;
  left:2px;
  top:112px;
  width:746px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:200px;
  top:332px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:509px;
  top:332px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:379px;
  width:750px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u24 {
  position:absolute;
  left:200px;
  top:376px;
  width:42px;
  height:8px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:8px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:455px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:655px;
  top:455px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:340px;
  top:462px;
  width:100px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u31 {
  position:absolute;
  left:340px;
  top:477px;
  width:100px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u32 {
  position:absolute;
  left:50px;
  top:522px;
  width:670px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:653px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:670px;
  height:1px;
}
#u33 {
  position:absolute;
  left:50px;
  top:562px;
  width:137px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:197px;
  top:572px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:50px;
  top:622px;
  width:670px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:653px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:670px;
  height:1px;
}
#u38 {
  position:absolute;
  left:90px;
  top:658px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:188px;
  top:658px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:722px;
  width:750px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u43 {
  position:absolute;
  left:50px;
  top:658px;
  width:30px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:50px;
  top:772px;
  width:670px;
  height:80px;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:24px;
  width:666px;
  word-wrap:break-word;
}
#u16_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1109px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:282px;
  font-size:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:282px;
}
#u48 {
  position:absolute;
  left:2px;
  top:112px;
  width:746px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:200px;
  top:332px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:509px;
  top:332px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:0px;
  top:379px;
  width:750px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u54 {
  position:absolute;
  left:508px;
  top:376px;
  width:42px;
  height:8px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:8px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:50px;
  top:455px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:655px;
  top:455px;
  width:65px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:340px;
  top:462px;
  width:100px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u61 {
  position:absolute;
  left:340px;
  top:477px;
  width:100px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u62 {
  position:absolute;
  left:50px;
  top:522px;
  width:670px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:653px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:670px;
  height:1px;
}
#u63 {
  position:absolute;
  left:50px;
  top:562px;
  width:137px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:197px;
  top:572px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:50px;
  top:622px;
  width:670px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:653px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:670px;
  height:1px;
}
#u68 {
  position:absolute;
  left:90px;
  top:658px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:188px;
  top:658px;
  width:61px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:0px;
  top:722px;
  width:750px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u73 {
  position:absolute;
  left:50px;
  top:658px;
  width:30px;
  height:30px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:50px;
  top:772px;
  width:670px;
  height:80px;
  font-size:28px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:80px;
}
#u76 {
  position:absolute;
  left:2px;
  top:24px;
  width:666px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:532px;
  top:562px;
  width:137px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:37px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:679px;
  top:572px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
